// Fonts
$sans-title: 'Roboto', sans-serif;
$sans-text: 'Inconsolata', monospace;

// Colors

$purple: #9f90f4;
$yellow: #d4fd32;
$green: #30fc6a;

$color1: $green;
$color2: $purple;
$color3: $yellow;


$dark: #000;
$light: #eee;

// Hero
$hero-frame-width: 0;
$hero-frame-width-small-screens: 20;